[shard1]
type=server
address=shard1
port=3306
protocol=MariaDBBackend

[shard2]
type=server
address=shard2
port=3306
protocol=MariaDBBackend

[Sharded-Monitor]
type=monitor
module=mariadbmon
servers=shard1,shard2
user=maxuser
password=maxpwd
monitor_interval=10000

[Sharded-Service]
type=service
router=readwritesplit
servers=shard1,shard2
user=maxuser
password=maxpwd
master_failure_mode=fail_on_write

[Sharded-Listener]
type=listener
service=Sharded-Service
protocol=MySQLClient
port=4006
